@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#cabecalho{
    display:flex;
    align-items:center;
    justify-content: space-around;
    padding:20px;
}


#busca{
    padding:10px;
    border-radius:10px;
    border:1px solid rgba(0, 0, 0, 0.486);
    outline:none;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.418);
}

#botao{
    padding:5px;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.486);
    outline:none;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.418);
    margin-left:5px;

}

#container{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:100px;
}

#filmes{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap:30px;
}

.filme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 360px;
    width:360;
    padding:20px;
    border:1px solid rgba(0, 0, 0, 0.562);
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.527);
    white-space: wrap;
    border-radius:10px;
  
}

footer{
   
    text-align: center;
    background-color: black;
    color:white;
    padding:10px;
    
}